<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" class="ion-text-center ion-text-uppercase">
      Terms and Condition
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-padding-start ion-padding-end" size="12" size-md="8">
        <p class="about-text">
          1. Our following Terms and Conditions of Delivery and Payment shall be applicable to all commercial transactions.
          <br/><br/>
          2. Our Terms and Conditions of Delivery and Payment shall apply exclusively. We shall not accept terms and conditions of the 
          customer that conflict with or deviate from our Terms and Conditions of Delivery and Payment, unless we have given our express written consent to their application.
          <br/><br/>
          3. Collateral agreements, amendments to these terms and conditions as well as deviations from these terms and conditions must be agreed upon in writing.
          <br/><br/>
          4. Our products shall be subject to change without notice, unless otherwise expressly agreed upon. The contract shall 
          come into being when we receive the order confirmation signed by the customer, but no later than when the customer takes 
          receipt of the goods. In this case, the terms and conditions communicated to the customer shall apply.
          <br/><br/>
          5. The customer shall collect the goods by the agreed delivery deadline or, if a delivery deadline has not been firmly 
          agreed upon, without undue delay after receipt of notification that the goods are ready for collection at the agreed place of performance. 
          If the customer defaults on taking receipt of the goods, we may at our own option and at the customer's expense, ship the goods to the customer's 
          address, store the goods (insofar as no other possibility exists, also in the open air if need be) or rescind the contract, and assert damages. 
          If the customer defaults on taking receipt of the goods, we shall not be liable for accidental destuction of, loss of or damage to the goods. 
          In the event that the goods are stored, the delivery shall be deemed to have been made, and we shall be entitled to invoice for the goods after one week.
          <br/><br/>
          6.The amount invoiced shall be paid in accordance with the payment terms recorded in the invoice.
          <br/><br/>
          7. Upon receipt of the goods, the customer shall examine them for defects without undue delay.
          <br/><br/>
          8. If any individual provisons in these Terms and Conditions of Delivery and Payment are invalid, this shall not affect the effectiveness of 
          the other provisions. The parties agree that any invalid provision is to be replaced with, or any omission in the contract filled with, a 
          provision that most closely reflects what they intended or would have intended according to the spirit and purpose of the contract.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>