
ion-content{
    --ion-background-color: #f3f3f3 !important;
}

ion-header{
    --ion-background-color: var(--app-primary-color);
}

ion-title{
    font-weight: 600;
}

.about-title{
    font-weight: 700;
    color: var(--app-primary-color);
}

.about-text{
    line-height: 23px;
    color: #3c3c3c;
}

.quote{
    font-weight: bolder;
    font-style: italic;
}