<ion-tabs #maintab>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" *ngIf="isCustomer">
      <ion-icon name="file-tray"></ion-icon>
      <ion-label>Product</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart" *ngIf="isCustomer">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="order">
      <ion-icon name="reader"></ion-icon>
      <ion-label>Order</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inbox" *ngIf="isCustomer">
      <ion-icon name="file-tray"></ion-icon>
      <ion-label>Inbox</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
