#home-logo {
    margin: auto;
    display: block;
    width: 80%;
}

.home-btn-label {
    text-align: right;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 0.7em;
}

#home-top-text {
    margin-top: 0;
    font-weight: 600;
    color: #e2e3ea;
}

.home-span-color {
    color: #fe1f23;
}

.home-btn-icon {
    font-size: 2.5rem;
    margin-right: 0;
    margin-left: 0.4em;
}

.col-btn {
    --border-radius: 5px;
    padding-top: 0;
    padding-bottom: 0;
}


#product-catalog {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#9e81f8+13,cf48ec+100 */
    --ion-background-color: #9e81f8;
    /* Old browsers */
    --ion-background-color: -moz-linear-gradient(left, #9e81f8 13%, #cf48ec 100%);
    /* FF3.6-15 */
    --ion-background-color: -webkit-linear-gradient(left, #9e81f8 13%, #cf48ec 100%);
    /* Chrome10-25,Safari5.1-6 */
    --ion-background-color: linear-gradient(to right, #9e81f8 13%, #cf48ec 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e81f8', endColorstr='#cf48ec', GradientType=1);
    /* IE6-9 */
}

#choose-paint {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#56be99+13,1db3cb+100 */
    --ion-background-color: #56be99;
    /* Old browsers */
    --ion-background-color: -moz-linear-gradient(left, #56be99 13%, #1db3cb 100%);
    /* FF3.6-15 */
    --ion-background-color: -webkit-linear-gradient(left, #56be99 13%, #1db3cb 100%);
    /* Chrome10-25,Safari5.1-6 */
    --ion-background-color: linear-gradient(to right, #56be99 13%, #1db3cb 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#56be99', endColorstr='#1db3cb', GradientType=1);
    /* IE6-9 */

}

#color-collections {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3db5ea+13,662eda+100 */
    --ion-background-color: #3db5ea;
    /* Old browsers */
    --ion-background-color: -moz-linear-gradient(left, #3db5ea 13%, #662eda 100%);
    /* FF3.6-15 */
    --ion-background-color: -webkit-linear-gradient(left, #3db5ea 13%, #662eda 100%);
    /* Chrome10-25,Safari5.1-6 */
    --ion-background-color: linear-gradient(to right, #3db5ea 13%, #662eda 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3db5ea', endColorstr='#662eda', GradientType=1);
    /* IE6-9 */
}

#designer-scheme {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d25fee+13,f1428f+100 */
    --ion-background-color: #d25fee;
    /* Old browsers */
    --ion-background-color: -moz-linear-gradient(left, #d25fee 13%, #f1428f 100%);
    /* FF3.6-15 */
    --ion-background-color: -webkit-linear-gradient(left, #d25fee 13%, #f1428f 100%);
    /* Chrome10-25,Safari5.1-6 */
    --ion-background-color: linear-gradient(to right, #d25fee 13%, #f1428f 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d25fee', endColorstr='#f1428f', GradientType=1);
    /* IE6-9 */

}

#specs-writer-guide {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f5c549+13,ed6b31+100 */
    --ion-background-color: #f5c549;
    /* Old browsers */
    --ion-background-color: -moz-linear-gradient(left, #f5c549 13%, #ed6b31 100%);
    /* FF3.6-15 */
    --ion-background-color: -webkit-linear-gradient(left, #f5c549 13%, #ed6b31 100%);
    /* Chrome10-25,Safari5.1-6 */
    --ion-background-color: linear-gradient(to right, #f5c549 13%, #ed6b31 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5c549', endColorstr='#ed6b31', GradientType=1);
    /* IE6-9 */

}

#paint-calculator {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f95657+14,e2194d+100 */
    --ion-background-color: #f95657;
    /* Old browsers */
    --ion-background-color: -moz-linear-gradient(left, #f95657 14%, #e2194d 100%);
    /* FF3.6-15 */
    --ion-background-color: -webkit-linear-gradient(left, #f95657 14%, #e2194d 100%);
    /* Chrome10-25,Safari5.1-6 */
    --ion-background-color: linear-gradient(to right, #f95657 14%, #e2194d 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f95657', endColorstr='#e2194d', GradientType=1);
    /* IE6-9 */

}

#color-capture {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1fc7ad+14,2fb73b+100 */
    --ion-background-color: #1fc7ad;
    /* Old browsers */
    --ion-background-color: -moz-linear-gradient(left, #1fc7ad 14%, #2fb73b 100%);
    /* FF3.6-15 */
    --ion-background-color: -webkit-linear-gradient(left, #1fc7ad 14%, #2fb73b 100%);
    /* Chrome10-25,Safari5.1-6 */
    --ion-background-color: linear-gradient(to right, #1fc7ad 14%, #2fb73b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1fc7ad', endColorstr='#2fb73b', GradientType=1);
    /* IE6-9 */

}

.toolbar-ios-primary .searchbar-ios {
    .searchbar-search-icon {
        background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2013%2013'><path%20fill='#999'%20d='M5,1c2.2,0,4,1.8,4,4S7.2,9,5,9S1,7.2,1,5S2.8,1,5,1%20M5,0C2.2,0,0,2.2,0,5s2.2,5,5,5s5-2.2,5-5S7.8,0,5,0%20L5,0z'/><line%20stroke='#999'%20stroke-miterlimit='10'%20x1='12.6'%20y1='12.6'%20x2='8.2'%20y2='8.2'/></svg>") !important;
    }

    .searchbar-clear-icon {
        background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20512%20512'><path%20fill='#999'%20d='M403.1,108.9c-81.2-81.2-212.9-81.2-294.2,0s-81.2,212.9,0,294.2c81.2,81.2,212.9,81.2,294.2,0S484.3,190.1,403.1,108.9z%20M352,340.2L340.2,352l-84.4-84.2l-84,83.8L160,339.8l84-83.8l-84-83.8l11.8-11.8l84,83.8l84.4-84.2l11.8,11.8L267.6,256L352,340.2z'/></svg>") !important;
    }
}

.scroll-horizontal {
    width: 100%;
    white-space: nowrap;
    overflow: auto;
    overflow-y: hidden;

    ion-card {
        width: 60%;
        display: inline-block;

        ion-card-content {
            padding: 0px !important;
        }

    }
}

[col-8] {
    padding: 5px 5px 5px 10px !important;
}

[col-4] {
    padding: 5px 10px 5px 5px !important;
}

.preco {
    font-weight: 900;
}

#doces {
    width: 95%;

    ion-img {
        img {
            margin-top: -50px;
        }
    }

    ion-grid {
        padding: 0px 5px 0px 5px !important;
    }
}

.product-img{
    height: 200px;
    margin: auto;
    display:block;
}


.category-container{
    --ion-background-color: #ffffff !important;
    --background:  #ffffff !important;
    background:  #ffffff !important;
}

div.category{
  white-space: nowrap;
  overflow-x: auto !important;
}