<ion-header background="primary">
  <ion-toolbar>
    <ion-title color="light" class="ion-text-center ion-text-uppercase">
      Cart 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding [fullscreen]="true">
  <ion-grid class="ion-margin-top">
    <ion-row>

      <ion-col *ngFor="let product of this.productService.cart | slice:0:slice; let i=index" class="ion-padding-start ion-padding-end ion-margin-bottom" size="12" size-lg="4">
        <ion-card class=" ion-no-margin ion-padding-top-4 ion-padding-bottom-4 col-btn">
          <ion-row>
            <ion-col size="5" class="ion-no-padding">
              <ion-img [src]="server + product.product_image_file_path" class="product-img"></ion-img>
            </ion-col>
            <ion-col size=7>
              <ion-card-header>
                <ion-card-title>{{ product.product_name }}</ion-card-title>
                <ion-card-title class="total-seller-p"><span class="total-seller"><ion-text color="success">&#x20b1; {{ product.product_price }}</ion-text></span></ion-card-title>
                
                <ion-button  fill="outine"  (click)="decrement(product)">
                  <ion-icon slot="icon-only" color="danger" name="remove-sharp"></ion-icon>
                </ion-button>
                <ion-button fill="outine">
                  <ion-text id="product-{{product.product_id}}">{{product.product_quantity ? product.product_quantity : 1}}</ion-text>
                </ion-button>
                <ion-button fill="outine"  (click)="increment(product)">
                  <ion-icon slot="icon-only"  color="success" name="add-outline" ></ion-icon>
                </ion-button>
                
                <ion-button color="danger" class="ion-margin-top" (click)="removeFromCart(i, product)">Remove</ion-button>
                <ion-card-title class="total-seller-p">Subtotal: <span class="total-seller"><ion-text color="success">&#x20b1; {{ product.product_price  * product.product_quantity }}</ion-text></span></ion-card-title>
              </ion-card-header>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>  
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer *ngIf="this.productService.cart !== undefined && this.productService.cart.length > 0">
  <ion-toolbar *ngIf="this.productService.subtotal >= this.productService.minimum_order_price ">
    <ion-button expand="full" color="danger" size="large" class="ion-margin" (click)="checkout()" >Checkout</ion-button>
  </ion-toolbar>
  <ion-toolbar *ngIf="this.productService.subtotal < this.productService.minimum_order_price ">
    <p class="ion-text-center">Minimum price to checkout: <ion-text color="success">&#x20b1; 600</ion-text></p>
  </ion-toolbar>
</ion-footer>