.about-title{
    font-weight: 700;
}

.about-text{
    line-height: 23px;
    color: #3c3c3c;
}

.quote{
    font-weight: bolder;
    font-style: italic;
}

ion-title {
    position: absolute;
    font-weight: 600;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
}   